
        <app-nav></app-nav>
        <div class="wrapper">
            <div class="container-fluid">
                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <div class="btn-group pull-right">
                                <ol class="breadcrumb hide-phone p-0 m-0">
                                    <li class="breadcrumb-item"><a href="#">Eyambeko JR</a></li>
                                    <li class="breadcrumb-item active">Dashboard</li>
                                </ol>
                            </div>
                            <h4 class="page-title">Dashboard</h4>
                        </div>
                    </div>
                </div>
      
            <div class="card bg-white m-b-30">
                <div class="card-body new-user">
                    <h5 class="header-title mb-4 mt-0">Topping Location</h5>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="border-top-0" style="width:60px;">Town/city</th>
                                    <th class="border-top-0">Sub Location</th>
                                    <th class="border-top-0">Bar/Store Name</th>
                                    <th class="border-top-0">Earnings</th>
                                    <th class="border-top-0">Total Jackpots</th>                                    
                                    <th class="border-top-0">Agent Name</th>
                                    <th class="border-top-0">Contact Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                     Windhoek
                                    <td>
                                       Havana
                                    </td>
                                    <td>                                                                
                                        Okashandja
                                    </td>
                                    <td>N$ 100 000</td>
                                    <td>10</td>                                   
                                    <td>
                                     Tomas Dee
                                    </td>
                                        <td>
                                         081 800 3073
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    Oshakati
                                    <td>
                                     New Location
                                  </td>
                                  <td>                                                                
                                      Siskus Trading
                                  </td>
                                  <td>N$ 77 000</td>
                                  <td>13</td>                                   
                                  <td>
                                   Maya Cleo
                                  </td>
                                      <td>
                                       081 800 3333
                                  </td>
                              </tr>
                              <tr>
                                <td>
                                Ondangwa
                                <td>
                                   Omahenene
                                </td>
                                <td>                                                                
                                   Sport Life 
                                </td>
                                <td>N$ 60 500</td>
                                <td>6</td>                                   
                                <td>
                                 Immanuel Fransiskus
                                </td>
                                    <td>
                                     081 449 4796
                                </td>
                            </tr>
                            <tr>
                              <td>
                               Ongwediva
                              <td>
                                 Keila 
                              </td>
                              <td>                                                                
                                  Motowange Bar
                              </td>
                              <td>N$ 55 000</td>
                              <td>10</td>                                   
                              <td>
                             Natangwe Kay
                              </td>
                                  <td>
                                   081 876 0100
                              </td>
                          </tr>
                          <tr>
                            <td>
                             Windhoek
                            <td>
                              Khomasdal
                            </td>
                            <td>                                                                
                               Nam bar
                            </td>
                            <td>N$ 4 000</td>
                            <td>6</td>                                   
                            <td>
                             Tmotues nghiwanwa
                            </td>
                                <td>
                                 081 300 4003
                            </td>
                        </tr>
                        <tr>
                          <td>
                          Halushu
                          <td>
                            Kinona
                          </td>
                          <td>                                                                
                            washa bar
                          </td>
                          <td>N$ 41 000</td>
                          <td>12</td>                                   
                          <td>
                           Jimmy Hailonga
                          </td>
                              <td>
                                <div class="col-xs-6 col-sm-3 m-b-30">
                                             <button type="button" class="btn btn-primary waves-effect waves-light" id="sa-warning">Delete</button>
                                </div>
                          </td>
                          
                      </tr>   
                            </tbody>
                        </table>
                        
                    </div>
                </div>
            </div>
        </div>
     </div>

  <app-footer></app-footer>

        