<!-- Navigation Bar -->
<app-nav></app-nav>
        <div class="wrapper">
            <div class="container-fluid">
                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <div class="btn-group pull-right">
                                <ol class="breadcrumb hide-phone p-0 m-0">
                                    <li class="breadcrumb-item"><a href="#">Eyambeko JR</a></li>
                                    <li class="breadcrumb-item active">Dashboard</li>
                                </ol>
                            </div>
                            <h4 class="page-title">Dashboard</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title end breadcrumb -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="card m-b-30">
                            <div class="card-body">
                                <div class="d-flex flex-row">
                                    <div class="col-3 align-self-center">
                                        <div class="round">
                                            <i class="mdi mdi-wallet"></i>
                                        </div>
                                    </div>
                                    <div class="col-6 align-self-center text-center">
                                        <div class="m-l-10">
                                            <h5 class="mt-0 round-inner">N$ 18090</h5>
                                            <p class="mb-0 text-muted">Today's Income</p>                                                                 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="card m-b-30">
                            <div class="card-body">
                                <div class="d-flex flex-row">
                                    <div class="col-3 align-self-center">
                                        <div class="round">
                                            <i class="mdi mdi-currency-usd"></i>
                                        </div>
                                    </div>
                                    <div class="col-6 text-center align-self-center">
                                        <div class="m-l-10 ">
                                            <h5 class="mt-0 round-inner">N$ 12, 000</h5>
                                            <p class="mb-0 text-muted">Monthly Income</p>
                                        </div>
                                    </div>                                                       
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="card m-b-30">
                            <div class="card-body">
                                <div class="d-flex flex-row">
                                    <div class="col-3 align-self-center">
                                        <div class="round ">
                                            <i class="mdi mdi-basket"></i>
                                        </div>
                                    </div>
                                    <div class="col-6 align-self-center text-center">
                                        <div class="m-l-10 ">
                                            <h5 class="mt-0 round-inner">Ondangwa</h5>
                                            <p class="mb-0 text-muted">Top Location</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="card m-b-30">
                            <div class="card-body">
                                <div class="d-flex flex-row">
                                    <div class="col-3 align-self-center">
                                        <div class="round">
                                            <i class="mdi mdi-rocket"></i>
                                        </div>
                                    </div>
                                    <div class="col-6 align-self-center text-center">
                                        <div class="m-l-10">
                                            <h5 class="mt-0 round-inner">Games J</h5>
                                            <p class="mb-0 text-muted">Top Agent</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
  
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-xl-8 align-self-center">
                        <div class="card bg-white m-b-30">
                            <div class="card-body new-user">
                                <h5 class="header-title mb-4 mt-0">Topping Location</h5>
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th class="border-top-0" style="width:60px;">Town/city</th>
                                                <th class="border-top-0">Sub Location</th>
                                                <th class="border-top-0">Bar/Store Name</th>
                                                <th class="border-top-0">Earnings</th>
                                                <th class="border-top-0">Total Jackpots</th>                                    
                                                <th class="border-top-0">Agent Name</th>
                                                <th class="border-top-0">Contact Details</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                 Windhoek
                                                <td>
                                                   Havana
                                                </td>
                                                <td>                                                                
                                                    Okashandja
                                                </td>
                                                <td>N$ 100 000</td>
                                                <td>10</td>                                   
                                                <td>
                                                 Tomas Dee
                                                </td>
                                                    <td>
                                                     081 800 3073
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                Oshakati
                                                <td>
                                                 New Location
                                              </td>
                                              <td>                                                                
                                                  Siskus Trading
                                              </td>
                                              <td>N$ 77 000</td>
                                              <td>13</td>                                   
                                              <td>
                                               Maya Cleo
                                              </td>
                                                  <td>
                                                   081 800 3333
                                              </td>
                                          </tr>
                                          <tr>
                                            <td>
                                            Ondangwa
                                            <td>
                                               Omahenene
                                            </td>
                                            <td>                                                                
                                               Sport Life 
                                            </td>
                                            <td>N$ 60 500</td>
                                            <td>6</td>                                   
                                            <td>
                                             Immanuel Fransiskus
                                            </td>
                                                <td>
                                                 081 449 4796
                                            </td>
                                        </tr>
                                        <tr>
                                          <td>
                                           Ongwediva
                                          <td>
                                             Keila 
                                          </td>
                                          <td>                                                                
                                              Motowange Bar
                                          </td>
                                          <td>N$ 55 000</td>
                                          <td>10</td>                                   
                                          <td>
                                         Natangwe Kay
                                          </td>
                                              <td>
                                               081 876 0100
                                          </td>
                                      </tr>
                                      <tr>
                                        <td>
                                         Windhoek
                                        <td>
                                          Khomasdal
                                        </td>
                                        <td>                                                                
                                           Nam bar
                                        </td>
                                        <td>N$ 4 000</td>
                                        <td>6</td>                                   
                                        <td>
                                         Tmotues nghiwanwa
                                        </td>
                                            <td>
                                             081 300 4003
                                        </td>
                                    </tr>
                                    <tr>
                                      <td>
                                      Halushu
                                      <td>
                                        Kinona
                                      </td>
                                      <td>                                                                
                                        washa bar
                                      </td>
                                      <td>N$ 41 000</td>
                                      <td>12</td>                                   
                                      <td>
                                       Jimmy Hailonga
                                      </td>
                                          <td>
                                           081 320 3003
                                      </td>
                                  </tr>   
                                        </tbody>
                                    </table>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="space" style="margin-top: 10px;"></div>
                    <div class="col-md-12 col-lg-12 col-xl-4">
                        <div class="card bg-white m-b-30">
                            <div class="card-body new-user">
                                    <h5 class="header-title mt-0 mb-4">Top 5 Agents</h5>
                                <ul class="list-unstyled mb-0 pr-3" id="boxscroll2" tabindex="1" style="overflow: hidden; outline: none;">
                                    <li class="p-3">
                                        <div class="media">
                                            <div class="thumb float-left">
                                                <a href="#">
                                                    <img class=" rounded-circle" src="assets/images/users/avatar-5.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <p class="media-heading mb-0">Tomas Nghiwanwa </p>
                                                <small class="pull-right text-muted"><a href="javascript:void(0);"> N$ 21 100 </a></small>
                                                <small class="text-muted">Windhoek</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="p-3">
                                        <div class="media">
                                            <div class="thumb float-left">
                                                <a href="#">
                                                    <img class=" rounded-circle" src="assets/images/users/avatar-4.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <p class="media-heading mb-0">William Johnson </p>
                                                <small class="pull-right text-muted"><a href="javascript:void(0);"> N$ 20 000 </a></small>
                                                <small class="text-muted">Ondangwa</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="p-3">
                                        <div class="media">
                                            <div class="thumb float-left">
                                                <a href="#">
                                                    <img class=" rounded-circle" src="assets/images/users/avatar-3.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="media-body">                                                    
                                                <p class="media-heading mb-0">Robert Imms </p>
                                                <small class="pull-right text-muted"> <a href="javascript:void(0);"> N$ 17 900 </a></small>
                                                <small class="text-muted">Walvis Bay</small>                                                   
                                            </div>
                                        </div>
                                    </li>
                                    <li class="p-3">
                                        <div class="media">
                                            <div class="thumb float-left">
                                                <a href="#">
                                                    <img class=" rounded-circle" src="assets/images/users/avatar-2.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <p class="media-heading mb-0">Frieda Siskus </p>
                                                <small class="pull-right text-muted"><a href="javascript:void(0);">N$ 11 000</a></small>
                                                <small class="text-muted">Windhoek</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="p-3">
                                        <div class="media">
                                            <div class="thumb float-left">
                                                <a href="#">
                                                    <img class=" rounded-circle" src="assets/images/users/avatar-1.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <p class="media-heading mb-0">Ruby Tom </p>
                                                <small class="pull-right text-muted"> <a href="javascript:void(0);"> N$ 10 000 </a></small>
                                                <small class="text-muted">Rehoboth</small>
                                            </div>
                                        </div>
                                    </li>
                                </ul>                                    
                            </div>                                
                        </div>
                    </div>
                </div>

            </div> <!-- end container -->
        </div>
        <!-- end wrapper -->
<!-- footer -->
<app-footer></app-footer>
<router-outlet></router-outlet>